name: Ubuntu-Build

on:
  push:
    paths-ignore:
      - 'doc/**'
    branches: [ master ]
  pull_request:
    paths-ignore:
      - 'doc/**'
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install GCC, CMake
      run: sudo apt-get install build-essential cmake

    - name: Configure CMake
      run: mkdir build && cmake -Bbuild

    - name: Build project
      run: cmake --build ./build --parallel

    - name: Reconfigure CMake with Tests
      run: cmake -Bbuild -DBUILD_TESTS=ON

    - name: Build tests
      run: cmake --build ./build --parallel

    - name: Run tests
      run: make test -C build

